* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: top;
  max-width: 100%;
}
input {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  vertical-align: top;
  border-radius: 0;
}
body {
  background-color: #fff;
  font-family: 'GoodRG';
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* header */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  clear: both;
  z-index: 100;
  background: #fff;
  bottom: 0;
}
.header-main-menu {
  width: 80%;
  margin: 0 auto;
}
.header-main-menu ul {
  width: 240px;
  height: 50px;
  line-height: 50px;
  margin: 25px auto;
}
.header-main-menu ul li {
  float: left;
  margin-right: 30px;
  width: 50px;
  height: 100%;
}
.header-main-menu ul li.header-mypage {
  border: 1px solid #000;
  border-radius: 100%;
}
.header-main-menu ul li a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #377b38;
  text-align: center;
  font-family: 'GoodBD';
}

/* slider */
.slider {
  width: 100%;
  height: 140px;
}
.slider_wrap {
  width: 350px;
  height: 100px;
  margin: 20px auto;
  border: 2px solid #ccc;
}
.slider_wrap ul {
  width: 300px;
  height: 100%;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}
.slider_wrap ul li {
  width: 70px;
  height: 70px;
  flex: 5;
}
.slider_wrap ul li a {
  width: 100%;
  height: 80%;
  display: block;
}
.slider_wrap ul li a img {
  width: 100%;
  height: 100%;
  display: block;
}
.slider_wrap ul li p {
  width: 100%;
  height: 20%;
  display: block;
  text-align: center;
}
.btn-search {
  width: 50px;
  float: left;
  height: 100px;
  display: block;
}
.btn-search-img {
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.btn-search-img img {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
}

/* main */
.site-content {
  position: relative;
  width: 100%;
  height: auto;
}
.contents-main {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 300px;
}
.contents-main-wrap {
  width: 80%;
  margin: 0 auto;
}
.contents {
  width: 100%;
  height: 300px;
}
.contents ul {
  width: 100%;
  height: 80%;
  position: relative;
  margin-top: 30px;
}
.contents ul li {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.contents ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.contents ul li a img {
  width: 100%;
  height: 100%;
  display: block;
}
.contents p {
  width: 100%;
  height: 20%;
}
.contents p a {
  display: block;
  margin-top: 8px;
  margin-left: 5px;
}
.site-map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  border: 1px solid #000;
}

/* 페이징 */
.paging_wrap {
  margin-top: 10px;
  font-size: 0;
  text-align: center;
}
.paging_wrap .num {
  overflow: hidden;
  display: inline-block;
  width: 140px;
  margin: 0 5px;
}
.paging_wrap .page_btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 2px;
  border: 1px solid #eee;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}
.paging_wrap .page_btn:hover {
  border-color: #64cbf1;
  color: #64cbf1;
}
.paging_list {
  display: flex;
}
.paging_list > li {
  width: 24px;
  height: 24px;
  margin: 0 2px;
  background: none;
  border: 1px solid #eee;
  border-radius: 0;
  font-size: 13px;
  line-height: 22px;
  flex-shrink: 0;
  opacity: 1;
}
.paging_list > li.swiper-pagination-bullet-active {
  border-color: #64cbf1;
  color: #64cbf1;
}
